/* header */
#header-container{
    width: 100vw;
    max-width: 100%;
}
/* header-links-container */
.header-links-container{
    
}
.header-links-container .header-links-container-content{
    height: 35px;
    display: none;
}
.header-links-container .header-links-container-content{
    background: #f6f1eb;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 768px){
    .header-links-container .header-links-container-content{
        display: block;
        padding-top: 14px;
        width: 100%;
        max-width: 1920px;
    }
}
.header-links{
    float: right;
}

.header-links button{
    font-size: .8461538462rem;
    color: #696969;
    line-height: 1;
}

.header-links li {
    display: inline-block;
    padding: 0 0 0 .2782076923rem;
    margin: 0 0 0 2rem;
}

.header-links a{
    font-family: var(--font-body);
    font-size: .8461538462rem;
    color: #696969;
    text-decoration: none;
    cursor: pointer;
}

/* header-main-container */
.header-main{
    margin: 0 16px;
}
@media (min-width: 768px){
    .header-main{
        margin: 0 24px;
        height: 100%;
    }
}
@media (min-width: 768px){
    .header-main-content{
        padding: .6923076923rem 0;
    }
}
.header-main-container{
    position: relative;
    max-width: 100%;
    z-index: 100;
    background: #f6f1eb;
    box-shadow: 0 8px 16px #e2d8ce33;
    height: 4.6153846154rem;
}

@media (min-width: 768px){
    .header-main-container {
        height: 5.7692307692rem;
        width: 100vw;
    }
}

.header-main-container .hmc__logo{
    position: absolute;
    transform: translate(-44%);
    left: 50%;
    z-index: 2;
}

.header-main-container .hmc__logo .hmc__logo-a{
    display: inline-block;
    z-index: 1;
    box-sizing: content-box;
    background-color: #f6f1eb;
    padding: .4230769231rem 0 0 .1538461538rem;
}

.header-main-container .hmc__logo .hmc__logo-img{
    display: block;
    width: 6.4615384615rem;
    height: 3.9230769231rem;
}
.header-main-container .hmc__logo .hmc__logo-img-small{
    display: none;
    width: 4.6153846154rem;
    height: 2.7692307692rem;
    margin-top: 5px;
}
@media (max-width: 768px){
    .header-main-container .hmc__logo .hmc__logo-img-small{
        display: block; 
    }
    .header-main-container .hmc__logo .hmc__logo-img{
        display: none;
    }
}


.hmc__icons {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
}
@media (min-width: 768px){
    .header-vertical-align{
        margin-top: .1538461538rem;
    }
}
.header-vertical-align {
    margin-top: .3846153846rem;
}
.hmc__icons > li.hmc__icons-menu .menu, .hmc__icons > div.hmc__icons-menu .menu{
    width: 3.8461538462rem;
}   
@media (min-width: 768px){
    .hmc__icons > li.hmc__icons-menu .menu, .hmc__icons > div.hmc__icons-menu .menu{
        width: 10.7692307692rem;
    }
}

.hmc__icons .button-icon {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
}
@media (min-width: 768px){
    .hmc__icons .button-icon .icon-container {
        float: left;
    }
}
.hmc__icons .button-icon .icon-container {
    width: 1.8461538462rem;
    height: 1.8461538462rem;
    fill: #696969;
}
.hmc__icons .icon {
    display: block;
    fill: #696969;
    width: 1.8461538462rem;
    height: 1.8461538462rem;
}
.hmc__icons .button-icon .icon-label{
    display: none;
}
@media (min-width: 768px){
    .hmc__icons .button-icon .icon-label {
        display: block;
        color: #696969;
        font-family: var(--font-body);
        float: left;
        font-size: 1.0769230769rem;
        padding: .4230769231rem 0 .3846153846rem .7692307692rem;
    }
}
.hmc__icons > li, .hmc__icons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}