@charset "UTF-8";
:root {
  --font-title: "Orator W01", "Gill Sans", "Gill Sans MT", calibri, serif;
  --font-body: "Helvetica W01", "Helvetica Neue", sans-serif;
  --font-body-secondary: "Courier New", monospace;
  --font-filosofia: "Filosofia", serif;
  --font-akkurat: "Akkurat", serif;
  --font-jungle-love: "Jungle-Regular", serif;
  --font-brides-de-gala: "BridesdeGala-Regular", serif;
  --font-mors-a-jouet: "Mors-Regular-Auto", serif;
  --font-size-breadcrumb: 1.2307692308rem;
  --font-size-title-xlarge: 2.4615384615rem;
  --font-size-title-large: 1.8461538462rem;
  --font-size-title-medium: 1.5384615385rem;
  --font-size-title-small: 1.2307692308rem;
  --font-size-title-xsmall: 1.2307692308rem;
  --font-size-title-xxsmall: 1.0769230769rem;
  --font-size-cta: 1.0769230769rem;
  --font-size-price-1: 1.5384615385rem;
  --font-size-price-2: 1.0769230769rem;
  --font-size-price-3: .9230769231rem;
  --font-size-price-4: 1.2307692308rem;
  --font-size-price-5: .7692307692rem;
  --font-size-paragraph: 1.0769230769rem;
  --font-size-link: .9230769231rem;
  --font-size-error: .9230769231rem;
  --font-size-mini-text: .9230769231rem;
  --font-size-information-text: .8461538462rem;
  --font-size-text-small: .7692307692rem;
  --font-size-text-medium: .9230769231rem;
  --font-size-text-large: 1.0769230769rem;
  --font-weight-title: 400;
  --font-weight-title-bold: 600;
  --font-weight-cta: 500;
  --font-weight-price-1: 400;
  --font-weight-price-2: 400;
  --font-weight-paragraph: 400;
  --font-weight-paragraph-bold: 600;
  --font-weight-link: 400;
  --font-weight-error: 400;
  --font-weight-mini-text: 400;
}

#main-content .block_full_hero_media {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
#main-content .block_full_hero_media img {
  width: 100%;
  height: auto;
}
#main-content .block-text {
  padding-right: 12%;
  padding-left: 12%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 64px;
  text-align: center;
}
#main-content .block-text .editorial-block-title {
  font: 2.4615384615rem/2.4615384615rem var(--font-title);
  margin: 20px 0 20px -2px;
  text-align: center;
  overflow-wrap: break-word;
}
#main-content .block-text p {
  margin: 1em 0;
}
#main-content .block-text .editorial-block-intro {
  font: 1.2307692308rem/1.8461538462rem var(--font-body-secondary);
  text-align: center;
  overflow-wrap: break-word;
}
#main-content .block-text .editorial-block-intro a {
  text-decoration: none;
  color: #444;
  padding-bottom: 2px;
  border-bottom: 1px solid #444;
}
#main-content .category-poster {
  padding: 15px;
}
#main-content .category-poster .category-poster-image {
  padding: 10px;
}
#main-content .category-poster .category-poster-image img {
  width: 100%;
}
#main-content .category-poster .title-small.category-poster-text {
  line-height: 1.5384615385rem;
  font-size: 1.3846153846rem;
  margin: 0.9230769231rem 0 0 -0.1538461538rem;
  display: block;
  max-width: 100%;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: -0.0769230769rem;
  font-weight: var(--font-weight-title);
  font-family: var(--font-title);
}



#catrgory-product .block-filter {
  font-family: "Orator W01", "Gill Sans", "Gill Sans MT", calibri, serif;
  margin: 0 20px;
}
#catrgory-product .block-filter > div > span {
  font-size: 16px;
  display: block;
  margin-top: 25px;
  color: #696969;
  line-height: normal;
}
#catrgory-product .block-filter h1 {
  margin: 0;
  font-size: 32px;
  color: #444;
}
#catrgory-product .block-filter .product-name {
  align-items: center;
}
#catrgory-product .block-filter .product-name span {
  margin-left: 8px;
}
#catrgory-product .block-category {
  background: #fffcf7;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
#catrgory-product .block-category-li {
  padding: 14px;
}
#catrgory-product .block-category-li .form-check-input {
  font-size: 18px;
}
#catrgory-product ul li {
  padding: 0 15px;
}
#catrgory-product ul li .dropdown-content {
  display: flex;
  padding: 25px 90px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#catrgory-product ul li .dropdown-content label {
  display: block;
  padding: 8px;
  cursor: pointer;
}
#catrgory-product ul li .dropdown-content label:hover {
  background-color: #f1f1f1;
}
#catrgory-product ul li .filter-item:hover + .dropdown-content,
#catrgory-product ul li .filter-checkbox-wrapper {
  padding: 0;
  flex: 0 1 20%;
  width: 20%;
}
#catrgory-product .icon-small {
  font-size: 20px;
}
#catrgory-product .filter-right {
  min-width: 163px;
  justify-content: space-between;
}
#catrgory-product .filter-right .text-sm {
  font-size: 11px;
}
#catrgory-product .product1 {
  margin-top: 35px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 35px;
}
#catrgory-product .product1 .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột với kích thước 456px */
  gap: 10px; /* Khoảng cách giữa các item */
  padding: 10px;
  box-sizing: border-box;
}
#catrgory-product .product1 .grid-item {
  height: 245px;
  background-color: #f0f0f0; /* Màu nền cho item */
  border: 1px solid #ddd; /* Viền cho item */
  box-sizing: border-box;
}
#catrgory-product .product1 .image-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#catrgory-product .product1 .sub-text {
  display: block;
  font-size: 16px;
  color: #444444;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
#catrgory-product .product2 {
  padding: 24px 24px 0 24px;
}
#catrgory-product .product2 .grid-container {
  gap: 8px;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row dense;
}
#catrgory-product .product2 .grid-container .product-grid-list-item {
  grid-column: auto/span 8;
  position: relative;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item a {
  line-height: normal;
  color: #444;
  display: block;
  text-decoration: none;
  position: relative;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item a .default-image {
  flex-grow: 1;
  display: block;
  position: relative;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item a .default-image .image-resizer {
  display: flex;
  height: 100%;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item a .default-image .image-resizer .media-wrap-square {
  background-color: #fffcf7;
  padding-top: 100%;
  width: 100%;
  position: relative;
  display: block;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item a .default-image .image-resizer .media-wrap-square img {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item-meta {
  position: relative;
  padding-top: 12px;
  transition: opacity 0.2s;
  text-align: left;
  opacity: 1;
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item-meta .product-item-name {
  font-size: 1.2307692308rem;
  line-height: 1.8461538462rem;
  letter-spacing: -0.0769230769rem;
  margin: 0 0 5px;
  font-family: var(--font-title);
  order: 1;
  display: block;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item-meta .product-item-name .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item-meta .product-item-name .product-item-price {
  line-height: 2.1538461538rem;
  order: 2;
  margin: 0;
}
#catrgory-product .product2 .grid-container .product-grid-list-item .product-item-meta .product-item-name .product-item-price .price {
  font-size: 1.0769230769rem;
  color: #696969;
  font-family: "Helvetica W01", "Helvetica Neue", sans-serif;
}
#catrgory-product .product2 .grid-container #grid-result-edito-0 {
  grid-row-start: 2;
}
#catrgory-product .product2 .grid-container #grid-result-edito-0 .editorial-item {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}
#catrgory-product .product2 .grid-container #grid-result-edito-0 .editorial-item .editorial-snackable {
  width: 73%;
  max-width: 1480px;
  position: relative;
}
#catrgory-product .product2 .grid-container #grid-result-edito-0 .editorial-item .editorial-snackable .main-image {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: #fffcf7;
  height: auto;
}
#catrgory-product .product2 .grid-container .grid-result-edito {
  grid-column: 1/-1;
}
#catrgory-product .product2 .grid-result-footer {
  margin: 38px 0;
  padding: 0 12px;
}
#catrgory-product .product2 .grid-result-footer .grid-result-footer-wrapper {
  min-height: 1.3846153846rem;
}
#catrgory-product .product2 .grid-result-footer .grid-result-footer-wrapper .button-secondary {
  min-width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  color: #444;
  line-height: calc(var(--font-size-cta) * 1.5 - 0.1538461538rem);
  min-height: 3.0769230769rem;
  width: 100%;
  font-weight: 600;
}
#catrgory-product .product2 .separator {
  width: 48.4615384615rem;
  border-top: 1px solid #e2d8ce;
  margin: 1.9230769231rem auto auto;
}
#catrgory-product .product2 .content {
  width: 48.4615384615rem;
  margin: 1.7692307692rem auto 2.6923076923rem;
}
#catrgory-product .product2 .content .container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#catrgory-product .product2 .content .container .text {
  line-height: 1.5384615385rem;
  max-height: 3.0769230769rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 0.9230769231rem;
}
#catrgory-product .product2 .content .container .text a {
  color: #444;
  text-decoration: underline;
}
#catrgory-product .product2 .content .container .ellipsis {
  display: flex;
  align-items: flex-end;
}
#catrgory-product .product2 .content .buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-right: 0.8em;
}
#catrgory-product .product2 .content .buttonContainer .link {
  display: flex;
  width: auto;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9230769231rem;
  line-height: 1.5384615385rem;
}

#main-contact-us .page-wrapper {
  height: 100%;
}
#main-contact-us .page-wrapper .main-container {
  max-width: 1290px;
  margin: auto;
  padding: 0 1.1538461538rem;
  font-weight: 400;
}
#main-contact-us .page-wrapper .main-container .h-back-button {
  display: block;
  margin: 18px 0 13px;
}
#main-contact-us .page-wrapper .main-container .title {
  font-size: 1.5384615385rem;
  padding: 25px;
  margin: 0 0 1px;
  background-color: #fffcf7;
  color: #444;
  font-family: "Orator W01", "Gill Sans", "Gill Sans MT", calibri, serif;
}
#main-contact-us .page-wrapper .main-container .title h1 {
  line-height: 3.0769230769rem;
  font-size: 2.4615384615rem;
  font-weight: 400;
}
#main-contact-us .page-wrapper .main-container .body {
  padding: 7px 25px 25px;
  margin-bottom: 60px;
  background-color: #fffcf7;
  font-size: 0.9230769231rem;
  font-family: "Helvetica W01", "Helvetica Neue", sans-serif;
  color: #444;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer .column-left {
  flex: 0 0 50%;
  padding-right: 10px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer .column-left p {
  padding-bottom: 0;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer .column-right {
  align-items: flex-end;
  flex: 0 0 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer .column-right .form-errors {
  height: 100%;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .contact-us-footer .column-right #contact-us-send button {
  min-height: 3.0769230769rem;
  width: 50%;
  max-width: 18.4615384615rem;
  background: #444;
  color: #fff;
  text-decoration: none;
  line-height: calc(var(--font-size-cta) * 1.5 - 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 9.5px 18px;
  font-family: var(--font-body);
  font-weight: 700;
  position: relative;
  margin: 0 auto;
  min-width: 15.3846153846rem;
  font-size: var(--font-size-cta);
  -webkit-appearance: button;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form input:focus + label {
  font-size: 0.8461538462rem;
  transform: translateY(-1.9230769231rem);
  font-weight: 700;
  color: #444;
  background: linear-gradient(to top, #fff 58%, transparent 0%);
  width: auto;
  margin-left: 0;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .generic-label {
  height: 18px;
  width: 80%;
  font-size: 1.0769230769rem;
  position: absolute;
  margin: 1.2307692308rem 0;
  padding: 0 0.3846153846rem;
  font-family: var(--font-body);
  color: #696969;
  background: #fff;
  display: flex;
  align-items: center;
  top: 0;
  left: 0.3653846154rem;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--font-weight-paragraph);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .generic-label span {
  white-space: pre;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 20px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input {
  width: 50%;
  margin-bottom: 11px;
  display: block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input .set-min-height {
  display: block;
  min-height: 76px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input .generic-input-item {
  position: relative;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input .generic-input-item .generic-input {
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  padding: 0.3846153846rem 0.75rem;
  border: 1px solid #e2d8ce;
  font-family: var(--font-body);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input .generic-input-item .generic-input:hover {
  border: 1px solid #444;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .name-fields .h-input .generic-input-item .generic-input-error:hover {
  border-color: #9d2a1e !important;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-email-input {
  margin-bottom: 11px;
  display: block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-email-input .set-min-height {
  display: block;
  min-height: 76px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-email-input .set-min-height .generic-input-item {
  position: relative;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-email-input .set-min-height .generic-input-item .generic-input {
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  padding: 0.3846153846rem 0.75rem;
  border: 1px solid #e2d8ce;
  font-family: var(--font-body);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input {
  margin-bottom: 11px;
  display: block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height {
  display: block;
  min-height: 76px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item {
  position: relative;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  display: flex;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-area-code {
  height: 3.8461538462rem;
  width: min-content;
  text-align: center;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-area-code input {
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  padding: 0.3846153846rem 0.75rem;
  border: 1px solid #e2d8ce;
  font-family: var(--font-body);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-area-code label {
  font-size: 0.8461538462rem;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0.3846153846rem;
  margin: 0 0.75rem;
  display: block;
  inset: 0 !important;
  height: 18px;
  font-weight: 700;
  color: #444;
  transform: translateY(-4.6538461538rem);
  background: linear-gradient(to top, #fff 58%, transparent 0%);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-phone {
  width: 100%;
  position: relative;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-phone input {
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  padding: 0.3846153846rem 0.75rem;
  border: 1px solid #e2d8ce;
  font-family: var(--font-body);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-phone label {
  display: inline-table;
  inset: 0 !important;
  padding: 0 5px 0 0;
  margin: 0;
  height: 18px;
  font-weight: 400;
  transform: translate(10px, calc(50% + 5px));
  background: linear-gradient(to top, #fff 58%, transparent 0%);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item fieldset .container-phone input:focus + label {
  font-size: 0.8461538462rem;
  transform: translate(10px, -50%);
  font-weight: 700;
  color: #444;
  width: auto;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .h-phone-input .set-min-height .generic-input-item .generic-input {
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  padding: 0.3846153846rem 0.75rem;
  border: 1px solid #e2d8ce;
  font-family: var(--font-body);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .textarea-input {
  margin-bottom: 11px;
  display: block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .textarea-input .textarea-input-item {
  position: relative;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .textarea-input .textarea-input-item textarea {
  font-size: 1.0769230769rem;
  line-height: 1.5384615385rem;
  max-width: 100%;
  min-width: 100%;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #e2d8ce;
  color: #444;
  font-family: var(--font-body);
  height: auto;
  padding: 10px;
  width: 100%;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .textarea-input .textarea-input-item label {
  font-size: 1.0769230769rem;
  align-items: center;
  background: #fff;
  color: #696969;
  display: flex;
  font-family: var(--font-body);
  left: 0;
  margin: 7px 6px;
  padding: 0 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  transition: all 0.2s;
  width: auto;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .textarea-input .textarea-input-item textarea:focus + label {
  font-size: 0.8461538462rem;
  transform: translateY(-1.5384615385rem);
  font-weight: 700;
  color: #444;
  background: linear-gradient(to top, #fff 58%, transparent 0%);
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form #form-select:focus {
  border-color: #444;
  box-shadow: unset;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject {
  margin-bottom: 11px;
  display: block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height {
  display: block;
  min-height: 76px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container {
  position: relative;
  cursor: pointer;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container .generic-label {
  font-size: 1.0769230769rem;
  position: absolute;
  margin: 1.2307692308rem 0;
  margin-left: 12px;
  padding: 0 0.3846153846rem;
  font-family: var(--font-body);
  color: #696969;
  background: #fff;
  display: flex;
  align-items: center;
  top: 0;
  left: 0.3653846154rem;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
  height: 18px;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container .generic-label span {
  white-space: pre;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container .generic-input {
  position: relative;
  padding: 1.2307692308rem 0.75rem;
  font-family: var(--font-body);
  font-weight: 400;
  text-align: left;
  height: 0;
  font-size: 1rem;
  min-height: 3.8461538462rem;
  width: 100%;
  color: #444;
  background-color: #fff;
  border: 1px solid #e2d8ce;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container #arrow-down-rounded {
  width: 0.9230769231rem;
  height: 0.9230769231rem;
  position: absolute;
  top: 33%;
  right: 0%;
  margin-right: 0.7692307692rem;
  stroke: #444;
  stroke-width: 4px;
  display: inline-block;
}
#main-contact-us .page-wrapper .main-container .body #contact-us-form .select-a-subject .set-min-height .container #arrow-down-rounded svg {
  overflow: hidden;
}
#main-contact-us .page-wrapper .main-container .body .contact-infos-title {
  color: #444;
  font-family: "Helvetica W01", "Helvetica Neue", sans-serif;
  font-size: 1.0769230769rem;
  font-weight: 700;
  margin-top: 9px;
  text-transform: none;
  line-height: 1.5384615385rem;
}
#main-contact-us .page-wrapper .main-container .body .contact-infos {
  margin-bottom: 20px;
}
#main-contact-us .page-wrapper .main-container .body .contact-infos .description-and-phone {
  font-size: 1.0769230769rem;
  margin: 0;
}
#main-contact-us .page-wrapper .main-container .body .contact-infos .opening-hours {
  font-size: 0.9230769231rem;
  line-height: 1.3846153846rem;
  margin-bottom: 0;
}
#main-contact-us .page-wrapper .main-container .body a {
  text-decoration: underline;
}
#main-contact-us .page-wrapper .main-container .body .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#main-contact-us .page-wrapper .main-container .body .faqContainer {
  font-size: var(--font-size-paragraph);
  margin-bottom: 20px;
}
#main-contact-us .page-wrapper .main-container .body .faqContainer .faq-link {
  font-weight: 700;
}
#main-contact-us .page-wrapper .main-container .body .required-informations {
  ont-size: var(--font-size-mini-text);
  color: #696969;
  font-family: var(--font-body);
  text-align: end;
  display: block;
}

#main-product .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#main-product .page-wrapper {
  height: 100%;
}
#main-product .page-wrapper .product-page {
  margin: 20px auto 40px;
  padding: 0 6%;
  max-width: 1920px;
}
#main-product .page-wrapper .product-page .header-wrapper {
  position: unset;
  display: flex;
}
#main-product .page-wrapper .product-page .header-wrapper .back-button {
  margin: 0 0 10px;
  display: block;
  visibility: hidden;
}
#main-product .page-wrapper .product-page .header-wrapper .back-button .auto-add-new-mobile-back-button-background {
  width: unset;
  height: unset;
  background-color: transparent;
  margin: unset;
  font-size: 1.0769230769rem;
  line-height: 1.5384615385rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-product .two-columns-container {
  align-items: stretch;
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
}
#main-product .two-columns-container .left-column {
  width: 80%;
  max-width: calc(100% - 375px);
  order: 0;
  flex: 1 1 375px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
#main-product .two-columns-container .left-column .product-content {
  padding-right: 15px;
}
#main-product .two-columns-container .left-column .product-content .product-image {
  display: block;
  margin-bottom: 40px;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image {
  display: flex;
  padding-right: 15px;
  width: 100%;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-gallery {
  display: block;
  margin-right: 30px;
  flex: 0 0 auto;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-gallery .product-image-gallery-container {
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-gallery .product-image-gallery-container .image-gallery-item:hover {
  border-bottom: 3px #444 solid;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-gallery .product-image-gallery-container .image-gallery-item {
  margin-right: 0;
  margin-bottom: 10px;
  height: 80px;
  width: 80px;
  position: relative;
  outline-offset: 2px;
  border-bottom: 3px transparent solid;
  text-align: start;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-gallery .product-image-gallery-container .image-gallery-item img {
  color: transparent;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container {
  min-height: 60vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 100%;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container .image-tab.shown {
  max-width: 60vh;
  display: flex;
  flex-direction: column;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container .image-tab.shown .product-image-wrapper {
  position: relative;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container .image-tab.shown .product-image-wrapper .image-button {
  cursor: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23333%22%20stroke-width%3D%222%22%3E%3Ccircle%20cx%3D%2220.5%22%20cy%3D%2220.5%22%20r%3D%2210.5%22%20fill%3D%22transparent%22%2F%3E%3Cg%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M15%2020.5h11M20.5%2015v11%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) 20 20, pointer;
  width: 100%;
  margin: 0 auto;
  background-color: #fffcf7;
  display: block;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container .image-tab.shown .product-image-wrapper .image-button .product-picture {
  position: relative;
  display: block;
  overflow: hidden;
}
#main-product .two-columns-container .left-column .product-content .product-image .product-image-container .image-tab.shown .product-image-wrapper .image-button .product-picture img {
  color: transparent;
  display: block;
  width: 100%;
  max-width: 850px;
  max-height: 850px;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell {
  padding: 0;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .title {
  padding-left: 0;
  font-size: 2.1538461538rem;
  font-family: var(--font-title);
  font-weight: 400;
  margin-bottom: 15px;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item {
  flex: 1 1 25%;
  max-width: 25%;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item {
  padding: 10px 15px 20px 0;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a {
  line-height: normal;
  color: #444;
  display: block;
  text-decoration: none;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .media-wrap-square {
  background-color: #fffcf7;
  padding-top: 100%;
  width: 100%;
  position: relative;
  display: block;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .media-wrap-square img {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .product-item-meta {
  padding-top: 12px;
  transition: opacity 0.2s;
  text-align: left;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .product-item-meta .product-item-name {
  font-size: 1.2307692308rem;
  line-height: 1.8461538462rem;
  margin: 0 0 5px;
  font-family: var(--font-title);
  order: 1;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .product-item-meta .product-item-colors {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .product-item-meta .product-item-price {
  flex: 1 1 100%;
  max-width: 100%;
  font-size: 1.0769230769rem;
  line-height: 1.5384615385rem;
  order: 2;
  margin: 0;
}
#main-product .two-columns-container .left-column .product-content .product-cross-sell .list .item .product-page-grid-item a .product-item-meta .product-item-price .price.medium {
  font-size: var(--font-size-price-2);
  color: #696969;
  font-family: var(--font-body);
}
#main-product .two-columns-container .right-column {
  max-width: 375px;
  flex: 0 0 375px;
  order: 1;
  align-items: flex-start;
  position: relative;
  display: flex;
  align-self: stretch;
}
#main-product .two-columns-container .right-column .sticky {
  position: sticky;
  top: 65px;
}
#main-product .two-columns-container .right-column .sticky .product-infos {
  width: 375px;
  flex: 0 0 375px;
  align-self: flex-start;
  padding-bottom: 0;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner {
  background-color: #fffcf7;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-header {
  padding: 15px;
  background-color: #fffcf7;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-header .product-title-container {
  font-family: var(--font-title);
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 3.0769230769rem;
  font-size: var(--font-size-title-xlarge);
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-header .product-title-container p {
  font-size: 1.6923076923rem;
  line-height: 2.2rem;
  min-height: 2.1538461538rem;
  word-wrap: break-word;
  letter-spacing: -1px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-header .product-price {
  font-size: 1.2307692308rem;
  margin-top: 4px;
  line-height: 1.25;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-header .product-price .price {
  font-size: var(--font-size-price-4);
  color: #696969;
  font-family: var(--font-body);
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content {
  margin-bottom: 0;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-header {
  border-color: #f6f1eb;
  border-style: solid;
  border-width: 1px 0;
  background-color: #fffcf7;
  font-size: var(--font-size-title-medium);
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-header .expansion-panel-header-button {
  min-height: 4.6153846154rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 15px !important;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-header .expansion-panel-header-button .expansion-panel-header-text {
  font-family: var(--font-title);
  text-align: left;
  font-size: 1.2307692308rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-header .expansion-panel-header-button .expansion-panel-header-right-part {
  min-height: 1.5384615385rem;
  line-height: 1.5384615385rem;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-header .expansion-panel-header-button .expansion-panel-header-right-part .expansion-panel-header-right-part-text {
  text-align: right;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content {
  visibility: visible;
  font-family: var(--font-body);
  display: block;
  background-color: #fffcf7;
  box-sizing: border-box;
  overflow: hidden;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content > * {
  padding: 15px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  grid-gap: 14px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box {
  width: 56px;
  height: 56px;
  display: flex;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .h-variant-item {
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content {
  display: flex;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .box-display {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .box-display .box-image-display {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  align-content: center;
  background: #fffcf7;
  position: relative;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .box-display .box-image-display .box-image-unavailable-icon {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  fill: none;
  background-color: transparent;
  stroke: #fffcf7;
  stroke-width: 10px;
  z-index: 5;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .box-display .box-image-display .picture {
  display: flex;
  pointer-events: none;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .box-display .box-image-display .picture img {
  flex: 0 0 auto;
  width: 56px;
  height: 56px;
  margin-bottom: 0;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .expansion-panel-content .product-variants .variant-box .dynamic-box-container .box-text-content .variant-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: all;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container {
  display: grid;
  padding: 15px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .size-infos {
  width: 100%;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .size-infos .size-guide {
  font-size: 1.0769230769rem;
  font-weight: var(--font-weight-paragraph-bold);
  text-decoration: underline;
  -webkit-appearance: button;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .size-infos .size-alert-text {
  text-align: end;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector {
  display: grid;
  grid-gap: 11px;
  grid-template-columns: repeat(4, 1fr);
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box {
  display: flex;
  flex-flow: row wrap;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item {
  width: 78px;
  height: 50px;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio {
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio .box-display {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio .box-display .box-text-display {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #fffcf7;
  color: #444;
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  position: absolute;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio .input-content-hidden {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio .input-content-hidden label {
  font-weight: var(--font-weight-paragraph);
  margin: 0;
}
#main-product .two-columns-container .right-column .sticky .product-infos .product-infos-inner .product-infos-content .size-container .product-variants-new-size-selector .variant-box .variant-item .dynamic-box-container .inactive-cursor-radio .input-content-hidden input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
